@charset "UTF-8";
@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Black.eot");
  src: local("Mont Black"), local("Mont-Black"), url("../assets/fonts/Mont/Mont-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Black.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Black.woff") format("woff"), url("../assets/fonts/Mont/Mont-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-ThinItalic.eot");
  src: local("Mont Thin Italic"), local("Mont-ThinItalic"), url("../assets/fonts/Mont/Mont-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-ThinItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-ThinItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-ExtraLight.eot");
  src: local("Mont ExtraLight"), local("Mont-ExtraLight"), url("../assets/fonts/Mont/Mont-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-ExtraLight.woff") format("woff"), url("../assets/fonts/Mont/Mont-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Bold.eot");
  src: local("Mont Bold"), local("Mont-Bold"), url("../assets/fonts/Mont/Mont-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Bold.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Bold.woff") format("woff"), url("../assets/fonts/Mont/Mont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-HeavyItalic.eot");
  src: local("Mont Heavy Italic"), local("Mont-HeavyItalic"), url("../assets/fonts/Mont/Mont-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-HeavyItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-HeavyItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-BlackItalic.eot");
  src: local("Mont Black Italic"), local("Mont-BlackItalic"), url("../assets/fonts/Mont/Mont-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-BlackItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-ExtraLightItalic.eot");
  src: local("Mont ExtraLight Italic"), local("Mont-ExtraLightItalic"), url("../assets/fonts/Mont/Mont-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-ExtraLightItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Heavy.eot");
  src: local("Mont Heavy"), local("Mont-Heavy"), url("../assets/fonts/Mont/Mont-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Heavy.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Heavy.woff") format("woff"), url("../assets/fonts/Mont/Mont-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-SemiBold.eot");
  src: local("Mont SemiBold"), local("Mont-SemiBold"), url("../assets/fonts/Mont/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-SemiBold.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-SemiBold.woff") format("woff"), url("../assets/fonts/Mont/Mont-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-RegularItalic.eot");
  src: local("Mont Regular Italic"), local("Mont-RegularItalic"), url("../assets/fonts/Mont/Mont-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-RegularItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-RegularItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-BoldItalic.eot");
  src: local("Mont Bold Italic"), local("Mont-BoldItalic"), url("../assets/fonts/Mont/Mont-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-BoldItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-SemiBoldItalic.eot");
  src: local("Mont SemiBold Italic"), local("Mont-SemiBoldItalic"), url("../assets/fonts/Mont/Mont-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-SemiBoldItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-LightItalic.eot");
  src: local("Mont Light Italic"), local("Mont-LightItalic"), url("../assets/fonts/Mont/Mont-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-LightItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-LightItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Thin.eot");
  src: local("Mont Thin"), local("Mont-Thin"), url("../assets/fonts/Mont/Mont-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Thin.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Thin.woff") format("woff"), url("../assets/fonts/Mont/Mont-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Regular.eot");
  src: local("Mont Regular"), local("Mont-Regular"), url("../assets/fonts/Mont/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Regular.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Regular.woff") format("woff"), url("../assets/fonts/Mont/Mont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Light.eot");
  src: local("Mont Light"), local("Mont-Light"), url("../assets/fonts/Mont/Mont-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Light.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Light.woff") format("woff"), url("../assets/fonts/Mont/Mont-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lighthaus';
  src: url("../assets/fonts/Lighthouse/Lighthaus.eot");
  src: local("Lighthaus"), url("../assets/fonts/Lighthouse/Lighthaus.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Lighthouse/Lighthaus.woff") format("woff"), url("../assets/fonts/Lighthouse/Lighthaus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-family: 'Lighthaus';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}

.button {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  width: 327px;
  height: 50px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border: none;
}

.button:hover {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #8e6445;
  width: 327px;
  height: 50px;
  background: #ffffff;
  border: 5px solid #8e6445;
}

.btn {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border: none;
}

.btn:hover {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #8e6445;
  background: #ffffff;
  border: 5px solid #8e6445;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-2 {
  font-family: "Mont";
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  background: transparent;
  border: 1px solid #031412;
  margin-left: 15px;
}

.btn-2:hover {
  background: #000000;
  color: #ffffff;
  border: 5px solid #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.data__column--margin {
  margin-left: 30px;
}

.special {
  background: url(../assets/img/special/bg.png) center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-top: 19px;
}

.special__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special__left {
  max-width: 533px;
}

.special__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special__img {
  margin-left: 146px;
}

.special__promo {
  font-family: "Lighthaus";
  font-weight: 400;
  font-size: 140px;
  color: #ffffff;
}

.special__proposal {
  font-family: "Mont";
  font-weight: 500;
  font-size: 35px;
  color: #ffffff;
  line-height: 35px;
  margin: 0 0 40px 0;
}

.special__title {
  font-weight: 400;
  font-size: 160px;
  color: #ffffff;
  position: absolute;
  bottom: -60px;
  right: -50px;
  max-width: 686px;
  text-align: right;
}

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__right {
  margin-left: 23px;
  margin-top: 82px;
  max-width: 442px;
}

.order__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 922px;
}

.order__btn {
  width: 327px;
  height: 50px;
  background: #fff;
  border: 1px solid #A1A1A1;
  font-weight: 800;
  font-size: 18px;
  color: #A1A1A1;
  font-family: "Mont";
}

.join {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E6E8E7;
  padding-top: 21px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
}

.join .join__icon--head {
  position: absolute;
  top: 6px;
  right: 41px;
  width: 63px;
  height: 63px;
  z-index: 1;
}

.join .join__icon--body {
  position: absolute;
  top: 76px;
  right: 24px;
  width: 94px;
  height: 52px;
  z-index: 1;
}

.join__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82px;
  height: 82px;
  background: #fff;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.join__title {
  font-family: "Mont";
  max-width: 302px;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  line-height: 20.23px;
  height: 37px;
}

.join__subtitle {
  font-family: "mont";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-top: 12px;
}

.join__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.join__btn {
  width: 186px;
  height: 50px;
  z-index: 2;
  cursor: pointer;
}

.data {
  margin-top: 48px;
}

.data .data__column--margin {
  margin-left: 30px;
}

.data__title {
  position: relative;
  font-weight: 600;
  font-size: 27px;
  color: #000000;
  padding-left: 50px;
  font-family: "Mont";
}

.data__title:before {
  content: "1";
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
  font-family: "Mont";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
}

.data__item {
  font-weight: 600;
  font-size: 18px;
  color: #A1A1A1;
  font-family: "Mont";
  width: 327px;
  height: 50px;
  padding-left: 19px;
  border: 1px solid #A1A1A1;
  margin-bottom: 30px;
}

.data__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.data__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delivery {
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid #E6E8E7;
}

.delivery__title {
  position: relative;
  font-weight: 600;
  font-size: 27px;
  color: #000000;
  padding-left: 50px;
  font-family: "Mont";
}

.delivery__title:before {
  content: "2";
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
  font-family: "Mont";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
}

.delivery__radio {
  margin-top: 30px;
}

.delivery__text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  color: #031412;
  max-width: 398px;
  font-family: "Mont";
}

.delivery__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.delivery__label {
  font-weight: 800;
  font-size: 20px;
  color: #A1A1A1;
  padding-left: 24px;
  position: relative;
}

.delivery__input:checked ~ .delivery__label {
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delivery__label:before {
  content: "";
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid #A1A1A1;
}

.delivery__label:after {
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  opacity: 0;
  z-index: 2;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border-radius: 50%;
}

.delivery__input:checked + .delivery__label:before {
  border: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
}

.delivery__input:checked + .delivery__label:after {
  opacity: 1;
}

.payment {
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid #E6E8E7;
}

.payment__title {
  font-weight: 600;
  font-size: 27px;
  color: #031412;
  position: relative;
  padding-left: 50px;
  font-family: "Mont";
}

.payment__title:before {
  content: "3";
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  position: absolute;
  background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
  top: 0;
  left: 0;
  font-family: "Mont";
}

.payment__radio {
  margin-top: 30px;
}

.payment__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.payment__label {
  font-weight: 800;
  font-size: 20px;
  color: #A1A1A1;
  padding-left: 24px;
  position: relative;
}

.payment__label:before {
  content: "";
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  left: 0;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #A1A1A1;
  z-index: 1;
}

.payment__label:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
}

.payment__input:checked + .payment__label:before {
  border: 1px solid linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
}

.payment__input:checked + .payment__label:after {
  opacity: 1;
}

.payment__input:checked ~ .payment__label {
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper {
  height: 226px;
}

.distiller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.distiller .distiller__item_red {
  color: #9B0000;
}

.distiller .distiller__item_padding {
  padding-top: 17px;
}

.distiller .distiller__price_padding {
  padding-top: 13px;
}

.distiller__img {
  width: 101px;
  height: 101px;
}

.distiller__item {
  font-weight: 600;
  font-size: 20px;
  color: #031412;
  font-family: "Mont";
}

.distiller__info {
  padding-left: 24px;
  padding-top: 5px;
  padding-right: 20px;
}

.distiller__title {
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  font-family: "Mont";
  padding-right: 69px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.distiller__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.distiller__disscount {
  font-weight: 600;
  font-size: 14px;
  color: #A1A1A1;
}

.distiller__disscount {
  font-size: 14px;
  position: relative;
  color: #A1A1A1;
  text-decoration: none;
}

.distiller__disscount:before {
  content: "";
  border-bottom: 1px solid #A1A1A1;
  position: absolute;
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.total {
  position: relative;
  overflow: hidden;
  padding-bottom: 32px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}

.total input[placeholder] {
  text-overflow: ellipsis;
}

.total__basket {
  position: absolute;
  top: -28px;
  right: -7px;
  z-index: -1;
}

.total .total__button_tiny {
  width: 126px;
  height: 50px;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border: none;
}

.total .total__button_big {
  width: 382px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border: none;
  margin-top: 31px;
}

.total__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 40px;
}

.total__top {
  padding-left: 30px;
  padding-right: 30px;
}

.total__input {
  width: 256px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  color: #A1A1A1;
  font-family: "Mont";
  border: 1px solid #E6E8E7;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: none;
}

.total__title {
  font-weight: 400;
  font-size: 35px;
  color: #031412;
  font-family: "Mont";
  margin-top: 25px;
}

.total__subtitle {
  font-weight: 800;
  font-size: 40px;
  color: #031412;
  font-family: "Mont";
  margin-top: 20px;
}

.total__bottom {
  margin-top: 30px;
  padding: 31px 30px 0 30px;
  border-top: 1px solid #E6E8E7;
}

.total__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total__text {
  font-weight: 600;
  font-size: 16px;
  color: #A1A1A1;
  font-family: "Mont";
  max-width: 194px;
  margin-left: 18px;
}

@media screen and (max-width: 1309px) {
  .join .join__icon--head {
    position: absolute;
    top: 30px;
    right: 41px;
    width: 63px;
    height: 63px;
    z-index: 1;
  }
  .join .join__icon--body {
    position: absolute;
    top: 105px;
    right: 24px;
    width: 94px;
    height: 52px;
    z-index: 1;
  }
  .join__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-2 {
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1214px) {
  .order__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .distiller__title {
    padding-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .order__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__title {
    margin-top: 35px;
  }
  .data__item {
    width: 318px;
  }
}

@media screen and (max-width: 740px) {
  .data__item {
    width: 289px;
  }
}

@media screen and (max-width: 740px) and (max-width: 680px) {
  .data__item {
    width: 275px;
  }
}

@media screen and (max-width: 654px) {
  .order__btn {
    width: 290px;
  }
  .order__title {
    font-weight: 400;
    font-size: 30px;
    color: #031412;
  }
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .join__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .join__title {
    text-align: center;
    margin-top: 10px;
  }
  .join__subtitle {
    padding-left: 11px;
  }
  .join__right {
    margin-top: 10px;
    margin-right: 0px;
  }
  .join .join__icon--head {
    top: 204px;
  }
  .join .join__icon--body {
    top: 278px;
  }
  .data .data__column--margin {
    margin-left: 0px;
  }
  .data__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 444px) {
  .distiller__title:after {
    content: "";
  }
  .total .total__button_tiny {
    width: 126px;
    height: 50px;
    font-weight: 800;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    border: none;
  }
  .total .total__button_big {
    width: 290px;
    height: 50px;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    border: none;
    margin-top: 31px;
  }
  .total__input {
    width: 130px;
    height: 50px;
  }
}

@media screen and (max-width: 390px) {
  .container {
    padding: 0 5px;
  }
}

@media screen and (max-width: 350px) {
  .distiller__info {
    padding-right: 25px;
    padding-left: 5px;
  }
  .distiller__title {
    font-size: 14px;
  }
  .total__top {
    padding-left: 14px;
    padding-right: 14px;
  }
  .total__bottom {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.basket__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket__left {
  width: 100%;
}

.basket__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.basket .top__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.basket .top__text1, .basket .top__text2, .basket .top__text3 {
  font-weight: 600;
  font-size: 16px;
  color: #A1A1A1;
  font-family: "Mont";
}

.basket .top__text3 {
  padding-right: 66px;
}

.bistiller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
  padding-top: 18px;
  border-top: 1px solid #E6E8E7;
  position: relative;
}

.bistiller__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bistiller__description {
  max-width: 268px;
  height: 23px;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  margin-left: 27px;
  font-family: "Mont";
  padding-bottom: 20px;
}

.bistiller__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bistiller__piece, .bistiller__price {
  font-weight: 600;
  font-size: 20px;
  color: #031412;
  font-family: "Mont";
}

.bistiller__price {
  position: relative;
}

.bistiller .disscount:before {
  content: "1953 грн";
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  color: #A1A1A1;
  top: -15px;
}

.bistiller .disscount:after {
  content: "";
  position: absolute;
  width: 58px;
  height: 1.5px;
  top: -7px;
  left: 0;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  background: #A1A1A1;
  opacity: 0.3;
}

.bistiller .bistiller__price_red {
  color: #9B0000;
}

.bistiller__trash {
  position: absolute;
  top: 15px;
  right: 37px;
}

.bistiller__btn {
  margin-top: 29px;
  width: 327px;
  height: 50px;
  background: #fff;
  border: 1px solid #A1A1A1;
  font-weight: 800;
  font-size: 18px;
  color: #A1A1A1;
  font-family: "Mont";
}

.basket__btn {
  display: none;
  width: 327px;
  height: 50px;
  background: #fff;
  border: 1px solid #A1A1A1;
  font-weight: 800;
  font-size: 18px;
  color: #A1A1A1;
  font-family: "Mont";
}

.quantum {
  background: #fff;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.quantum__content {
  position: relative;
  padding-top: 23px;
  padding-bottom: 41px;
}

.quantum__top {
  margin-left: 30px;
}

.quantum__bottom {
  border-top: 1px solid #E6E8E7;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 31px;
  padding-top: 27px;
}

.quantum__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.quantum__title {
  font-weight: 400;
  font-size: 35px;
  color: #031412;
  font-family: "Mont";
}

.quantum__subtitle {
  font-weight: 800;
  font-size: 40px;
  color: #031412;
  font-family: "Mont";
  margin-top: 15px;
}

.quantum__text {
  font-weight: 600;
  font-size: 16px;
  color: #808080;
  font-family: "Mont";
  max-width: 194px;
  margin-left: 15px;
}

.quantum__cart {
  position: absolute;
  top: -38px;
  right: -7px;
  max-width: 100%;
}

.quantum__btn {
  margin-top: 29px;
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  width: 374px;
  height: 50px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border: none;
}

.quantum__btn:hover {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #8e6445;
  width: 374px;
  height: 50px;
  background: #ffffff;
  border: 5px solid #8e6445;
}

@media screen and (max-width: 1128px) {
  .basket__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .basket__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quantum {
    max-width: 666px;
    width: 100%;
    margin-top: 39px;
  }
  .quantum__title, .quantum__subtitle {
    text-align: center;
  }
  .quantum__cart {
    max-width: 157px;
  }
  .quantum__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quantum__text {
    max-width: 236px;
  }
  .bistiller__btn {
    display: none;
  }
  .bistiller__trash {
    top: 56px;
    right: 0px;
  }
  .basket__btn {
    display: block;
    margin-top: 30px;
  }
}

@media screen and (max-width: 682px) {
  .bistiller__description {
    padding-bottom: 72px;
  }
  .bistiller__trash {
    top: 13px;
  }
}

@media screen and (max-width: 509px) {
  .bistiller__description {
    font-weight: 800;
    font-size: 16px;
    color: #031412;
    padding-bottom: 64px;
  }
  .quantum__title {
    text-align: left;
    font-weight: 400;
    font-size: 28px;
    color: #031412;
  }
  .quantum__subtitle {
    text-align: left;
    font-weight: 800;
    font-size: 34px;
    color: #031412;
  }
  .quantum__cart {
    width: 100px;
    height: 100px;
    top: -24px;
    right: 0px;
  }
  .quantum__btn {
    width: 320px;
  }
  .basket__btn {
    width: 320px;
  }
}

@media screen and (max-width: 466px) {
  .basket__top {
    display: none;
  }
  .basket__btn {
    width: 290px;
  }
  .bistiller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bistiller__description {
    max-width: 183px;
    padding-bottom: 58px;
  }
  .bistiller__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  .quantum__cart {
    width: 69px;
    height: 72px;
    top: -13px;
  }
  .quantum__title {
    font-weight: 400;
    font-size: 24px;
    color: #031412;
  }
  .quantum__subtitle {
    font-weight: 800;
    font-size: 30px;
    color: #031412;
  }
  .quantum__btn {
    width: 249px;
  }
}
/*# sourceMappingURL=index.css.map */