@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Black.eot");
  src: local("Mont Black"), local("Mont-Black"), url("../assets/fonts/Mont/Mont-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Black.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Black.woff") format("woff"), url("../assets/fonts/Mont/Mont-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-ThinItalic.eot");
  src: local("Mont Thin Italic"), local("Mont-ThinItalic"), url("../assets/fonts/Mont/Mont-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-ThinItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-ThinItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-ExtraLight.eot");
  src: local("Mont ExtraLight"), local("Mont-ExtraLight"), url("../assets/fonts/Mont/Mont-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-ExtraLight.woff") format("woff"), url("../assets/fonts/Mont/Mont-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Bold.eot");
  src: local("Mont Bold"), local("Mont-Bold"), url("../assets/fonts/Mont/Mont-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Bold.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Bold.woff") format("woff"), url("../assets/fonts/Mont/Mont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-HeavyItalic.eot");
  src: local("Mont Heavy Italic"), local("Mont-HeavyItalic"), url("../assets/fonts/Mont/Mont-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-HeavyItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-HeavyItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-BlackItalic.eot");
  src: local("Mont Black Italic"), local("Mont-BlackItalic"), url("../assets/fonts/Mont/Mont-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-BlackItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-ExtraLightItalic.eot");
  src: local("Mont ExtraLight Italic"), local("Mont-ExtraLightItalic"), url("../assets/fonts/Mont/Mont-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-ExtraLightItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Heavy.eot");
  src: local("Mont Heavy"), local("Mont-Heavy"), url("../assets/fonts/Mont/Mont-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Heavy.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Heavy.woff") format("woff"), url("../assets/fonts/Mont/Mont-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-SemiBold.eot");
  src: local("Mont SemiBold"), local("Mont-SemiBold"), url("../assets/fonts/Mont/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-SemiBold.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-SemiBold.woff") format("woff"), url("../assets/fonts/Mont/Mont-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-RegularItalic.eot");
  src: local("Mont Regular Italic"), local("Mont-RegularItalic"), url("../assets/fonts/Mont/Mont-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-RegularItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-RegularItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-BoldItalic.eot");
  src: local("Mont Bold Italic"), local("Mont-BoldItalic"), url("../assets/fonts/Mont/Mont-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-BoldItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-SemiBoldItalic.eot");
  src: local("Mont SemiBold Italic"), local("Mont-SemiBoldItalic"), url("../assets/fonts/Mont/Mont-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-SemiBoldItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-LightItalic.eot");
  src: local("Mont Light Italic"), local("Mont-LightItalic"), url("../assets/fonts/Mont/Mont-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-LightItalic.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-LightItalic.woff") format("woff"), url("../assets/fonts/Mont/Mont-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Thin.eot");
  src: local("Mont Thin"), local("Mont-Thin"), url("../assets/fonts/Mont/Mont-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Thin.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Thin.woff") format("woff"), url("../assets/fonts/Mont/Mont-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Regular.eot");
  src: local("Mont Regular"), local("Mont-Regular"), url("../assets/fonts/Mont/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Regular.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Regular.woff") format("woff"), url("../assets/fonts/Mont/Mont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../assets/fonts/Mont/Mont-Light.eot");
  src: local("Mont Light"), local("Mont-Light"), url("../assets/fonts/Mont/Mont-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Mont/Mont-Light.woff2") format("woff2"), url("../assets/fonts/Mont/Mont-Light.woff") format("woff"), url("../assets/fonts/Mont/Mont-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lighthaus';
  src: url("../assets/fonts/Lighthouse/Lighthaus.eot");
  src: local("Lighthaus"), url("../assets/fonts/Lighthouse/Lighthaus.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Lighthouse/Lighthaus.woff") format("woff"), url("../assets/fonts/Lighthouse/Lighthaus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-family: 'Lighthaus';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}

.button {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  width: 327px;
  height: 50px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border: none;
}

.button:hover {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #8e6445;
  width: 327px;
  height: 50px;
  background: #ffffff;
  border: 5px solid #8e6445;
}

.btn {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border: none;
}

.btn:hover {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  color: #8e6445;
  background: #ffffff;
  border: 5px solid #8e6445;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-2 {
  font-family: "Mont";
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  background: transparent;
  border: 1px solid #031412;
  margin-left: 15px;
}

.btn-2:hover {
  background: #000000;
  color: #ffffff;
  border: 5px solid #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.join__icon--head {
  position: absolute;
  top: -11px;
  right: 0;
  width: 63px;
  height: 63px;
  z-index: 1;
}

.join__icon--body {
  position: absolute;
  top: 61px;
  right: -18px;
  width: 94px;
  height: 52px;
  z-index: 1;
}

.data__column--margin {
  margin-left: 30px;
}

.special {
  background: url(../assets/img/special/bg.png) center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-top: 19px;
}

.special__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special__left {
  max-width: 533px;
}

.special__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special__img {
  margin-left: 146px;
}

.special__promo {
  font-family: "Lighthaus";
  font-weight: 400;
  font-size: 140px;
  color: #ffffff;
}

.special__proposal {
  font-family: "Mont";
  font-weight: 500;
  font-size: 35px;
  color: #ffffff;
  line-height: 35px;
  margin: 0 0 40px 0;
}

.special__title {
  font-weight: 400;
  font-size: 160px;
  color: #ffffff;
  position: absolute;
  bottom: -60px;
  right: -50px;
  max-width: 686px;
  text-align: right;
}

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__right {
  max-width: 446px;
}

.order__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 922px;
}

.order__btn {
  width: 327px;
  height: 50px;
  background: #fff;
  border: 1px solid #A1A1A1;
  font-weight: 800;
  font-size: 18px;
  color: #A1A1A1;
  font-family: "Mont";
}

.join {
  max-width: 922px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E6E8E7;
  padding-top: 21px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
}

.join__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82px;
  height: 82px;
  background: #fff;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.join__title {
  font-family: "Mont";
  max-width: 302px;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  line-height: 20.23px;
  height: 37px;
}

.join__subtitle {
  font-family: "mont";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-top: 12px;
}

.join__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  position: relative;
}

.join__btn {
  width: 186px;
  height: 50px;
  z-index: 2;
  cursor: pointer;
}

.data {
  margin-top: 48px;
}

.data .data__column--margin {
  margin-left: 30px;
}

.data__title {
  position: relative;
  font-weight: 600;
  font-size: 27px;
  color: #000000;
  padding-left: 50px;
  font-family: "Mont";
}

.data__title:before {
  content: "1";
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
  font-family: "Mont";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
}

.data__item {
  font-weight: 600;
  font-size: 18px;
  color: #A1A1A1;
  font-family: "Mont";
  width: 327px;
  height: 50px;
  padding-left: 19px;
  border: 1px solid #A1A1A1;
  margin-bottom: 30px;
}

.data__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.data__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper {
  height: 226px;
}

.distiller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.distiller .distiller__item_red {
  color: #9B0000;
}

.distiller .distiller__item_padding {
  padding-top: 17px;
}

.distiller__img {
  width: 101px;
  height: 101px;
}

.distiller__item {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  font-family: "Mont";
}

.distiller__title {
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  max-width: 238px;
  font-family: "Mont";
}

.distiller__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.distiller__info {
  padding-right: 20px;
  padding-left: 24px;
}

.distiller__disscount {
  font-weight: 600;
  font-size: 14px;
  color: #A1A1A1;
}

.distiller__disscount__disscount {
  font-size: 14px;
  position: relative;
  color: #A1A1A1;
  text-decoration: none;
}

.distiller__disscount__disscount:before {
  content: "";
  border-bottom: 1px solid #A1A1A1;
  position: absolute;
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}
/*# sourceMappingURL=index.css.map */