//colors//
$text-black: #000;
$text-white: #ffffff;

//general colors//
$deepRed: #9B0000;

//Backgrounds//
$goldBlack: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
$greenGold: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);


//Font sizes//
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 24px;
$font-size-2xl: 30px;
$font-size-3xl: 50px;
$font-size-4xl: 60px;
$font-size-5xl: 100px;
$font-size-6xl: 250px;