@media screen and (max-width:1346px) {
    .advantage {
        font-family: "Mont";
        background: url(../assets/img/advantage/bg.png) center;
        background-size: cover;
        background-repeat: no-repeat;
        .title {
            display: flex;
            justify-content: center;
        }
        &__sector {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 74px;
        }
        &__box {
            padding-top: 15px;
            padding-right: 10px;
    
            box-sizing: border-box;
        }
    }
      


    .box {
        &__bg--img {
            margin-top: 34px;
            width: 76px;
            height: 76px;
            background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__name {
            padding-top: 24px;
            font-weight: 800;
            font-size: 20px;
            line-height: 96.4%;
            color: #031412;
        }

        &__text {
            padding-top: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 134.4%;
            color: #031412;
        }
        &__bottom--continuation {
            padding-top: 15px;
        }
        &__continuation {
            font-weight: 800;
            font-size: 14px;
            line-height: 134.4%;
            background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .continuation__icon {
            padding-left: 7px;
        }
    }
}  
@media screen and (max-width:1340px) {
    .geography {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__content {
            text-align: center;
            margin: 0 auto 35px;
            max-width: 607px;
        }
        &__description {
            margin-top: 22px;
            font-weight: 200;
            font-size: 16px;
        }
        &__pictures {
            margin: 0 auto;
        }
        &__title {
            font-size: 40px;
        }
    }
}   
@media screen and (max-width:1280px) {
    .counter {
        &__content {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }
        &__title {
            max-width: 335px;
            margin: 0 auto;
            font-size: 40px;
        }
        &__description {
            font-size: 20px;
            margin: 38px 0 90px;
        }
        &__subtitle {
            font-size: 30px;
        }
    }
} 
@media screen and (max-width:1100px) {
    .header {
        &__posi-like {
            display: none;
        }

        &__row {
            display: block;
        }

        &__list {
            margin: 20px 120px;
        }

        &__posi-user {
            position: absolute;
            top: 0;
            right: 18%;
        }

        &__posi-shop {
            position: absolute;
            top: 0;
            right: 10%;
        }

        &__img--icon {
            padding: 30px 7px 7px 7px;

        }

        &__img--icon:hover {
            padding: 30px 7px 7px 7px;
        }
    }
} 
@media screen and (max-width:877px) {
    .header {
        &__list {
            max-width: 100%;
            margin: 20px 80px;
        }
    }
} 
@media screen and (max-width:770px) {
    .counter {
        padding: 40px 0 23px;
        &__title {
            font-size: 20px;
        }
        &__description {
            font-weight: 300;
            font-size: 16px;
            margin: 17px 0 50px;
            padding: 0 30px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__nums {
            font-size: 100px;
        }
    }
} 
@media screen and (max-width:768px) {
    .description{
        padding-top: 65px;
       
    
        &__text{
           
            font-family: 'Mont';
            margin: 17px 0 92px 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 132.4%; 
            color: #031412;
        }
    
        p {
            margin-bottom: 14px;
        }
    }
    .header {
        &__list {
            max-width: 100%;
            margin: 10px 10px;
        }
    }
} 
@media screen and (max-width:703px) {
    .advantage {
        font-family: "Mont";
        background: url(../assets/img/advantage/bg.png) center;
        background-size: cover;
        background-repeat: no-repeat;
        .title {
            display: flex;
            justify-content: center;
        }
        &__sector {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 74px;
        }
        &__box {
            
            padding-top: 15px;
            padding-right: 10px;
            
            box-sizing: border-box;
        }
    }
    .box {
        &__bg--img {
            margin-top: 34px;
            width: 76px;
            height: 76px;
            background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__name {
            padding-top: 24px;
            font-weight: 800;
            font-size: 20px;
            line-height: 96.4%;
            color: #031412;
        }
    
        &__text {
            padding-top: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 134.4%;
            color: #031412;
        }
        &__bottom--continuation {
            padding-top: 15px;
        }
        &__continuation {
            font-weight: 800;
            font-size: 14px;
            line-height: 134.4%;
            background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .continuation__icon {
            padding-left: 7px;
        }
    }
    
} 
@media screen and (max-width:656px) {
    .header {

        &__link {

            margin: 0 15px;
        }

        &__posi-user {
            position: absolute;
            top: 0;
            right: 20%;
        }

        &__posi-shop {
            position: absolute;
            top: 0;
            right: 10%;
        }
      
    }
} 
@media screen and (max-width:560px) {
    .header {
        &__link {
            margin: 0 10px;
        }
    }
} 
@media screen and (max-width:510px) {
    .geography {
        padding-top: 38px;
        &__content {
            max-width: 290px;
        }
        &__pictures {
            margin: 25px auto 0;
        }
        &__title {
            font-size: 20px;
            margin-bottom: 10px;
            color: #031412;
        }
    }
} 
@media screen and (max-width:506px) {
    .burger {
        display: block;
        &__posi-like,
        &__list {
            z-index: 1;
        }
    }

    .container {
        padding: 0;
    }

    .header {
        &__list {
            display: none;
        }

        &__posi-user {
            position: absolute;
            top: 0;
            right: 40%;
        }

        &__posi-shop {
            position: absolute;
            top: 0;
            right: 25%;
        }

        &__img--icon {
            padding: 50px 7px 7px 7px;
           

        }

        &__img--icon:hover {
            padding: 50px 7px 7px 7px;
        }

    }

} 
@media screen and (max-width:490px) {
    .news{

        &__item--title{
            font-size: 15px;
            font-weight: 600;

            color: #ffffff;
            position: absolute;
            bottom: 15px;
            left: 12px;
            margin: 0;
            line-height: 96.4%;
            text-align: center;
        }
    }
    .burger {
        &__posi-like{
            right: 380%;
        }

    }
} 
@media screen and (max-width:452px) {
    .burger {
        &__posi-like{
            position: absolute;
            right: 360%;
        }

    }
} 
@media screen and (max-width:420px) {
    .description{
        padding-top: 64px;
       
        .title{
            font-weight: 400;
            font-size: 24px;
            line-height: 105.9%;
            color: #031412;
         }
        &__text{
           
            font-family: 'Mont';
            margin: 13px 0 30px 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 132.4%; 
            color: #031412;
        }
    
        p {
            margin-bottom: 14px;
        }
    }
} 
@media screen and (max-width:426px) {
    .burger {
        &__posi-like{
            position: absolute;
            right: 340%;
        }

    }
} 
@media screen and (max-width:400px) {
    .advantage {
        font-family: "Mont";
        background: url(../assets/img/advantage/bg.png) center;
        background-size: cover;
        background-repeat: no-repeat;
        .title {
            display: flex;
            justify-content: center;
        }
        &__sector {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 74px;
        }
        &__box {
            padding-top: 15px;
            padding-right: 10px;
            
            box-sizing: border-box;
        }
    }
    .box {
        &__bg--img {
            margin-top: 34px;
            width: 76px;
            height: 76px;
            background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__name {
            padding-top: 24px;
            font-weight: 800;
            font-size: 20px;
            line-height: 96.4%;
            color: #031412;
        }
    
        &__text {
            padding-top: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 134.4%;
            color: #031412;
        }
        &__bottom--continuation {
            padding-top: 15px;
        }
        &__continuation {
            font-weight: 800;
            font-size: 14px;
            line-height: 134.4%;
            background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .continuation__icon {
            padding-left: 7px;
        }
    }
    .header {
        &__logo {
            width: 110px;
        }

        &__posi-user {
            position: absolute;
            top: 0;
            right: 40%;
            padding: 48px 7px 7px 7px;
        }

        &__posi-shop {
            position: absolute;
            top: 0;
            right: 22%;
            margin-top: -2px;
        }
    }
} 
@media screen and (max-width:388px) {
    .burger {
        &__posi-like{
            position: absolute;
            right: 320%;
        }

    }
} 
@media screen and  (max-width: 365px) {
    .news {
        padding-top: 120px;
        font-family: "Mont";
        &__sector {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            max-width: 683px;
            height: 209px;
            padding-left: 28px;
            margin-bottom: 130px;
            box-sizing: border-box;
        }
        &__top {
            position: relative;
        }
        &__img {
            max-width: 100%;
        }

        &__item--mini {
            background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
            width: 76px;
            height: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
        }
        &__item--date {
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            color: #ffffff;
        }
        &__item--title {
            font-size: 12px;
            font-weight: 600;

            color: #ffffff;
            position: absolute;
            bottom: 12px;
            left: 10px;
            margin: 0;
            line-height: 96.4%;
            text-align: center;
        }
        &__bottom {
            margin-top: 10px;
        }
        &__item--text {
            margin-bottom: 14px;
        }
        &__item--text--text {
            font-weight: 400;
            font-size: 14px;
            line-height: 132.4%;
            color: #031412;
        }
        &__continuation {
            font-weight: 800;
            font-size: 14px;
            line-height: 134.4%;
            background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    @media screen and (max-width: 785px) {
        .special {
            &__bg {
                text-align: center;
                max-width: 770px;
                min-height: 483px;
                margin-left: -710px;
            }
            &__promo {
                font-family: "Lighthaus";
                @include font(400, 100px, $text-white);
                margin-top: 75px;
                height: 1px;
                width: 400px;
            }
            &__proposal {
                font-family: "Mont";
                @include font(600, 20px, $text-white);
                line-height: 19px;
                width: 306px;
                margin-top: -80px;
            }
            &__button {
                margin-top: -230px;
            }
            &__img {
                margin-top: -233px;
                margin-left: -285px;
            }
            &__title {
                @include font(400, 80px, $text-white);
                text-align: right;
                position: absolute;
                width: 421px;
                height: 240px;
                line-height: 60px;
                margin-top: 350px;
                margin-left: -55px;
            }
        }
    }
} 
@media screen and (max-width:346px) {
    .burger {
        &__posi-like{
            position: absolute;
            right: 300%;
        }

    }
}