.advantage{
    font-family: 'Mont';
    background-image: url(../img/advantage/bg.png);
   .title{
       display: flex;
       justify-content: center;
   }
   &__sector{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       padding-bottom: 74px;
        }
        &__box{
            padding-top: 15px;
            padding-right: 10px;
            
            box-sizing: border-box;
            
            
        }
    }
    .box{
        
       
        &__bg--img{
            margin-top: 34px;
            width: 76px;
            height: 76px;
            background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
            max-width: 100%;
        }
        &__icon1{
            
            margin-left:  19px;
            margin-top:  16px;
        }
        &__icon2{
            
            margin-left: 9px;
            margin-top: 10px;
        }
        &__icon3{
            
            margin-left: 18px;
            margin-top: 17px;
        }
        &__icon4{
            
            margin-left: 14px;
            margin-top: 16px;
        }
        &__icon5{
            
            margin-left: 17px;
            margin-top: 16px;
        }
        &__icon6{
            
            margin-left: 16px;
            margin-top: 16px;
        }
        &__icon7{
            
            margin-left: 19px;
            margin-top: 16px;
        }
        &__icon8{
            
            margin-left: 14px;
            margin-top: 16px;
        }
        &__name{
            padding-top: 24px;
            font-weight: 800;
            font-size: 20px;
            line-height: 96.4%;
            color: #031412;
        }
       
        &__text{
            padding-top: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 134.4%;
            color: #031412;
            
        }
        &__bottom--continuation{
            padding-top: 15px;
        }
        &__continuation{
            font-weight: 800;
            font-size: 14px;
            line-height: 134.4%;
            background: linear-gradient(65.81deg, #5E3928 -24.09%, #E4A16F 104.02%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            
        }
        .continuation__icon{
            padding-left: 7px;
        }

    }