.cart__content{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

.cart__left{
    width: 100%;
}

.cart__right{
    max-width: 446px;
    width: 100%;
}
// Cart name

.cart{
    &__name{
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
    
    &__name__amount{
        display: flex;  
        justify-content: space-around; 
        width: 50%;    
        
    }

    // padding for name price
    &__name__price--text{
        padding-right: 64px;
    }

    // text style
    &__name__product--text , &__name__amount--text,&__name__price--text{
        @include font (16px, 600 ,#A1A1A1);
    }
}






// Cart info
.cart{

    // common display for both box
    &__info{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #E6E8E7;
        margin-top: 14px;
        padding-top: 18px;
      
    }



    // main img and distillator text
    &__info__distiller{
        display: flex;
        align-items: center;   
        width: 100%  
    }

    &__info__distiller--text{
        @include font (18px,800,#031412);
        margin-left: 27px;
        max-width: 268px;
        height: 48px;
    }


    // cart info piece
    &__info__piece{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
       
    }

    &__info__piece--text{
        @include font (20px,600,#031412);
    }

    &__info__price--text{
       font-size: 20px;
       font-weight: 800;  
    }

    &__info__disscount--text{
        @include font (14px,600 ,#A1A1A1);
    }

    // position for trash img
    &__info__piece{
        position: relative;
    }
    &__info--trash{
        position: absolute;
        top: 5px;
        right: 23px;
    }

    // back to order btn
    &__left__btn{
        margin-top: 29px;
    }
   
    &__left__button{
        @include font (18px,800,#A1A1A1);
        border: 1px solid #A1A1A1;
        background: #fff;
        max-width: 327px;
        height: 50px;
        width: 100%; 
        font-family: "Mont";
    }

}


.cart{

   &__right{
       position: relative;
       overflow: hidden;
       padding-top: 23px;
       padding-bottom: 41px;
       margin-left: 30px;
       box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
   }


    // cart total
    &__total{
        margin-left: 30px;
    }

    &__total--text{
        @include font (35px,400,#031412);
        max-width: 100%;
    }

    &__total--amount{
        @include font (40px,800,#031412);
        max-width: 100%;
        margin-top: 20px;
    }

    // position for cart icon
    &__total{
        padding-bottom: 31px;
    }
    &__total--icon{
        position: absolute;
        top: -28px;
        right: 0;
        max-width: 100%;
    }



    // cart delivery
    &__delivery{
        padding-top: 27px;
        border-top: 1px solid #E6E8E7;
    }

    &__delivery--wrapper{
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    &__delivery--text{
        @include font (16px,600,#A1A1A1);
        margin-left: 19px;
        max-width: 194px;
    }

    // cart delivery btn

    &__delivery__btn{
        margin-top: 29px;
    }

   
    &__delivery__button{
        max-width:374px;
        height: 50px;
        width: 100%;
        @include font (18px,800 ,#fff);
        margin-left:38px;
        margin-right:34px;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        border: none;
        font-family: "Mont";
    }
}





// second btn

.cart__left__btn__bot{
    margin-top: 29px;
}

.cart__left__button__bot{
    display: none;
    @include font (18px,800,#A1A1A1);
    border: 1px solid #A1A1A1;
    background: #fff;
    max-width: 327px;
    height: 50px;
    width: 100%; 
    font-family: "Mont";
}





// media screen for laptop

@media screen and (max-width:1029px){
    .cart{
        &__content{
            display: flex;
            flex-direction: column;
        }

        &__left{
            margin-right: auto;
            margin-left: auto;
            max-width: 700px;
            width: 100%;
        }


        &__right{
            margin-top: 38px;
            margin-right: auto;
            margin-left: auto;
            max-width: 700px;
            width: 100%;
        }


        // text center (total)
        &__total--text , &__total--amount{
            text-align: center;
        }

        // btn center (delivery)
        &__delivery__btn{
           text-align: center;
        }

        // bus with text center (delivery)

        &__delivery--wrapper{
            display: flex;
            justify-content: center;
        }

        // first btn gone

        &__left__btn{
            display: none;
        }

             
    }


    // second btn come

    .cart__left__btn__bot{
        margin-top: 29px;
        display: flex;
        justify-content: center;       
    }
    
    .cart__left__button__bot{
        display: block;
        @include font (18px,800,#A1A1A1);
        border: 1px solid #A1A1A1;
        background: #fff;
        width: 327px;
        height: 50px;   
        font-family: "Mont";
    }
}





// media screen for phone

@media screen and (max-width:553px){

    // cart info
.cart{
    &__name{
        display: none;
    }

    &__info{
        max-width: 400px;
        width: 100%;
        border-top: none;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #E6E8E7;
        margin-right: auto;
        margin-left: auto;

    }

    &__info__piece{
       display: flex;
       justify-content: space-between;
    }

    &__info__price{
        padding-right: 41px;
    }

    // position for trash img

    &__info--trash{
        position: absolute;
        top: -104px;
        right: 23px;
    }





    // сart total

    &__right{
        max-width: 400px;
    }

    &__total{
        margin-left: 20px;
    }

    // total trash icon

    &__total--icon{
        max-width: 26%;
    }

    // total text and amount

    &__total--text , &__total--amount{
        text-align: left;
        
    }

    // delivery button
    &__delivery__button{
        max-width: 305px;
    }


}
}