.container {
    max-width: 1952px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    font-family: 'Lighthaus';
    @include font (400, 40px, $text-black);
}

.button {
    font-family: 'Mont';
    @include font (700, 18px, $text-white);
    @include btn (394px, 50px, $btn-bg);
    border: none;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        font-family: 'Mont';
        @include font (700, 18px, #8e6445);
        @include btn (394px, 50px, $text-white);
        border: 5px solid #8e6445;
    }
}
@media screen and(max-width: 460px) {
    .button {
        @include btn (290px, 55px, $btn-bg);
    }
}
@media screen and(max-width: 490px) {
    .button {
        @include btn (290px, 55px, $btn-bg);
    }
}
@media screen and(max-width: 360px) {
    .button {
        @include btn (270px, 55px, $btn-bg);
    }
}