.counter {
    font-family: "Mont";
    padding: 140px 0;
    height: 1000px;
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__description {
        @include font(400, 20px, #031412);
        margin-top: 23px;
    }
    &__left {
        max-width: 517px;
    }
    &__suptitle {
        @include font(900, 50px, transparent);
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    &__nums {
        @include font(800, 250px, rgba(0, 0, 0, 0.3));
        background: url(../assets/img/counter/forest.png) right top;
        background-attachment: fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    &__title {
        max-width: 310px;
    }
}


@media screen and (max-width:1280px) {
    .counter__content{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .counter__right {
        margin-top: 90px;
    }
    .counter__title {
        max-width: 335px;
        margin: 0 auto;
    }
}
@media screen and (max-width:780px) {
    .counter__nums {
        font-size: 100px;
    }
    .counter__description {
        font-size: 16px;
    }
    .counter__title {
        font-size: 20px;
    }
    .counter__suptitle {
        font-size: 18px;
    }
    .counter__description {
        max-width: 320px;
    }
}