.description{
    padding-top: 150px;
    &__title{
        font-weight: 400;
        font-size: 40px;
        line-height: 105.9%;
        color: #031412;
    }
    &__text{
        padding-top: 33px;
        font-weight: 400;
        font-size: 16px;
        line-height: 132.4%;
        color: #031412;
    }
}