.exx{
    background: url(../assets/img/hero/hero-bg.png);
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &__content{
     display: flex;
     justify-content: space-between;;
     flex-wrap: nowrap;
     align-items: center;
    }
    &__left{
        padding: 225px 0;
        max-width:637px;
    }
    &__logo{
        line-height: 4;
    }
    &__name{
        font-family: "Mont";
font-style: normal;
font-weight: 800;
font-size: 50px;
color: #FFFFFF;
display: flex;
flex-wrap: wrap;
margin-top: 50px;
    }
    &__price{
        font-family: "Mont";
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 96.4%;
color: #FFFFFF;
line-height: 4;
word-spacing: 150px;
   }
}
.trees{
    position: absolute;
    right: -10%;
    bottom: 0%;;
    z-index: 2;
    max-height: 100%;
}
.treestwo{
    display: none;
}
.bulba{
    position: absolute;
    right: 200px;
    bottom: 0;
    z-index: 4;
}
.copper{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    max-width: 586px;
}
.point{
    &__one{ 
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        position: absolute;
        z-index: 5;
        top: 145px;
        right: 600px;
        &--ell{
            display: none;
        }
    }
    &__two{
        cursor: pointer;
position: absolute;
z-index: 5;
top: 370px;
right: 670px;
    }
    &__three{
        cursor: pointer;
position: absolute;
z-index: 5;
top: 650px;
right: 600px;
    }
}
@media screen and(max-width:1330px){
    .trees{
        position: absolute;
        right: -20%;
        top: 0;
        z-index: 2;
    }
    .bulba{
        position: absolute;
        right: 100px;
        z-index: 4;
    }
    .point{
        &__one{ 
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            position: absolute;
            z-index: 5;
            top: 145px;
            right: 500px;
            &--ell{
                display: none;
            }
        }
        &__two{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 370px;
    right: 570px;
        }
        &__three{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 650px;
    right: 500px;
        }
    }
}
@media screen and(max-width:1225px){
    .trees{
        position: absolute;
        right: -30%;
        top: 0;
        z-index: 2;
    }
    .bulba{
        position: absolute;
        right: 0px;
        z-index: 4;
    }
    .point{
        &__one{ 
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            position: absolute;
            z-index: 5;
            top: 145px;
            right: 400px;
            &--ell{
                display: none;
            }
        }
        &__two{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 370px;
    right: 470px;
        }
        &__three{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 650px;
    right: 400px;
        }
    }
}
@media screen and(max-width:1125px){
    .trees{
        position: absolute;
        right: -35%;
        top: 0;
        z-index: 2;
    }
    .bulba{
        max-width: 800px;
        position: absolute;
        z-index: 4;
    }
    .point{
        &__one{ 
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            position: absolute;
            z-index: 5;
            top: 145px;
            right: 300px;
            &--ell{
                display: none;
            }
        }
        &__two{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 370px;
    right: 370px;
        }
        &__three{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 650px;
    right: 300px;
        }
    }
}
@media screen and(max-width:1030px){
    .trees{
        position: absolute;
        right: -40%;
        top: 0;
        z-index: 2;
    }
    .bulba{
        max-width: 700px;
        position: absolute;
        right: 0px;
        bottom: 0;
        z-index: 4;
    }
    .point{
        &__one{ 
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            position: absolute;
            z-index: 5;
            top: 145px;
            right: 200px;
            &--ell{
                display: none;
            }
        }
        &__two{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 370px;
    right: 270px;
        }
        &__three{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 650px;
    right: 200px;
        }
    }
}
@media screen and(max-width:945px){
    .exx{
        background: url(../assets/img/hero/hero-bg945.png);
        background-size: cover;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &__hit{
            max-width: 433px;
            height: 84px;
        }
        &__left{
            padding: 175px 0;
            max-width:337px;
        }
        &__price{
    font-weight: 300;
    font-size: 24px;
    line-height: 3;
    word-spacing: 70px;
       }
       &__name{
        font-weight: 800;
        font-size: 30px;
       }
       &__line{
           max-width:388px;
       }
    }
    .trees{
        display: none;
    }
    .treestwo{
        display: block;
        position: absolute;
        right: -10%;
       bottom: -20%;
        z-index: 2;
    }
    .destilator{
        height: 492px;
    }
    .copper{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
    }
    .copperpro{
        max-width: 345px;
    }
    .point{
        &__one{ 
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            position: absolute;
            z-index: 5;
            top: 300px;
            right: 270px;
            &--ell{
                display: none;
            }
        }
        &__two{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 450px;
    right: 310px;
        }
        &__three{
            cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 620px;
    right: 250px;
        }
    }
    .copperpro{
        max-width: 345px;
    }
    .point{
        width: 15px;
        height: 15px;
    }
    .button{
        max-width: 220px;
    }
}
