.geography {
    padding: 80px 0;
    background: #F6F6F6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        max-width: 365px;
    }
    &__description {
        font-family: 'Mont';
        margin-top: 38px;
        @include font (400, 20px, #031412);
    }
    &__pictures {
        max-width: 100%;
    }
}
@media screen and (max-width:1340px) {
    .geography {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__content {
            text-align: center;
            margin: 0 auto 35px;
            max-width: 607px;
        }
        &__description {
            margin-top: 22px;
            font-weight: 200;
            font-size: 16px;
        }
        &__pictures {
            margin: 0 auto;
        }
        &__title {
            font-size: 40px;
        }
    }
}
@media screen and (max-width:510px) {
    .geography {
        padding-top: 38px;
        &__content {
            max-width: 290px;
        }
        &__pictures {
            margin: 25px auto 0;
        }
        &__title {
            font-size: 20px;
            margin-bottom: 10px;
            color: #031412;
        }
    }
}