.geo {
    background: url(../assets/img/geo/background.png) center;
    &__title {
        font-family: 'Lighthaus';
        font-weight: 400;
        font-size: 50px;
        color: #031412;
        max-width: 310px;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 20px;
        color: #031412;
        font-family: 'Mont';
        max-width: 365px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url(../img/geo/background.png);
        margin-bottom: 70px;
    }
}