.geography {
    padding: 80px 0;
    background: #F6F6F6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        max-width: 365px;
    }
    &__description {
        font-family: 'Mont';
        margin-top: 38px;
        @include font (400, 20px, #031412);
    }
    &__pictures {
        max-width: 100%;
    }
}
