.geo {
    background: url(../assets/img/geo/background.png) center;
    &__title {
        font-family: 'Lighthaus';
        max-width: 310px;
        @include font (400, 50px, #031412);
    }

    &__subtitle {
        font-family: 'Mont';
        max-width: 365px;
        @include font (400, 20px, #031412);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url(../img/geo/background.png);
        margin-bottom: 70px;
    }
}