.history {
    background: url(../assets/img/history/bg.png) center;
    padding-top: 72px;
    padding-bottom: 74px;
    position: relative;
    &__info {
        display: flex;
        justify-content: center;
    }
    &__text {
        max-width: 455px;
        font-family: 'Mont';
        @include font(300, 16px, $text-white);
        margin: 28px 15px 0 15px;
    }
    &__title {
        @include font(400, 50px, $text-white);
        text-align: center;
    }
    &__aside--text {
        font-family: 'Lighthaus';
        @include font(400, 120px, $text-white);
        position: absolute;
        left: 0;
        bottom: 0;
        transform: rotate(-90deg);
        max-width: 11%;
        line-height: 74.9%;
    }
}
@media screen and (max-width:1260px) {
    .history__aside--text {
        display: none;
    }
}
@media screen and (max-width:965px) {
   .history {
    background: #000;
   }
}
@media screen and (max-width:600px){
    .history__info {
        flex-wrap: wrap;
    }
    .history__title {
        font-size: 20px;
    }
}

