.products {
    &__swiper{
        height: 620px;
    }
    &_block{
        padding-left: 30px;
    position: relative;
    }
    &_block{
        &-sale{
            position: absolute;
    width: 85px;
    height: 35px;
    background: #9B0000;
    top: 40px;
        }
        &-h3{
            font-family: 'Mont';
            font-style: normal;
            font-weight: 900;
            // font-size: 20px;
            line-height: 96.4%;
            /* or 19px */
            margin-top: 9px;
            text-align: center;
            text-transform: uppercase;
        
            color: #FFFFFF;
        }
    }
    // &_heart{
    //     width: 46px;
    //     height: 59px;
    //     background: #FFFFFF;
    
    //     position: absolute;
    //     margin-left: 520px;
    // }
    // &_heart{
    //     &-p{
    //         text-align: center;
    //     }
    // }
    &_box{
        padding: 0 30px;
    }
    &_content {
        display: flex;
    }
    &_box{
        &-title{
            font-family: 'Lighthaus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 105.9%;
    margin-top: 0px;

    /* or 42px */


    color: #031412;
    margin-bottom: 40px;
        }
    }
    &_dog{
        display: -webkit-box;
    }
    &_dog{
        &--2{
            display: flex;
    // align-items: baseline;
        }
    }
    &_vector {
        font-family: 'Mont';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 132.4%;
        margin-bottom: 35px;
    
        /* or 21px */
    
    
        color: #4B7159;
    }
    &_articul {
        font-family: 'Mont';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 132.4%;
margin-left: 437px;
/* or 21px */


color: #031412;
    }
    &_cp{

    }
    &_line1 {
        border: 1px solid #E6E8E7;
        margin-bottom: 37px;
        width: 685px;
    
    }
    &_line2 {
        border: 1px solid #E6E8E7;
        margin-bottom: 0px;
        width: 685px;
    
    }
    &_line3 {
        border: 1px solid #E6E8E7;
        margin-bottom: 0px;
        width: 685px;
        margin-top: 37px;
    
    }
    &_p{
        &--h3 {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 132.4%;
            /* or 21px */
            
            
            color: #031412;

            margin-top: 15px; 
            margin-bottom: 37px;     
        }
    }
    &_title{
        &--h3 {
            margin-bottom: 15px;
            font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 132.4%;
/* or 21px */

    text-transform: uppercase;

    color: #031412;
        }
        
        &--h2 {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 96.4%;
            /* identical to box height, or 34px */
            
            
            color: #031412;
            
            margin-top: 45px;
            /* identical to box height, or 34px */
        
        
            color: #031412;
        }
    }
    &_lines {
        display: flex;
        margin-bottom: 37
        px;
    }
    &_btn {
        width: 450px;
        height: 50px;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        margin-left: 30px;
        cursor: pointer;
    }
    &_grn {
        font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 43px;
    line-height: 96.4%;
/* or 43px */


color: #9B0000;

        padding-left: 230px;
        margin-top: 37px;
        margin-bottom: 31px;
        /* or 43px */
    
    
        color: #9B0000;
    
    }
    &_skidka {
        font-family: 'Mont';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 96.4%;
        padding-left: 30px;
        margin-top: 45px;
        margin-top: 49px;
        /* or 24px */
    
    
        color: #031412;
    
        opacity: 0.3;
    }
    &_solid {
        opacity: 0.3;
        border: 1px solid #031412;
        transform: rotate(12.92deg);
        margin-top: -10px;
    }
    &_line {
       &-sun{
        border: 1px solid #E6E8E7;
        width: 210px;
        height: 50px;
       }
    }
    &_kupit {
        // font-family: 'Mont';
        font-style: normal;
        font-weight: 800;
        // font-size: 18px;
        line-height: 96.4%;
        /* or 17px */
    
        text-align: center;
    
        color: #FFFFFF;
    
    }
    &_h3{
        &--title{
            font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 132.4%;
    /* or 21px */

    text-transform: uppercase;

    color: #031412;
    margin-top: 20px;

        }
    }
}


.img{
    padding-left: 50px;
    &_heart {
        cursor: pointer;
    }
    &_twitter {
        padding-left: 50px;
        cursor: pointer;
    }
    &_facebook {
        padding-left: 18px;
        cursor: pointer;
    }
    &_instagram {
        padding-left: 18px;
        cursor: pointer;
    }
    &_swiper {
        margin-bottom: 18px;
    }
    &_heart{
        margin-top: 18px;
    }
}




.number {
	user-select: none;
	position: relative;
	text-align: left;
	padding: 0;
	width: 208px;
	border: 1px solid #ddd;
	display: inline-block;
    &-minus, &-plus {
        position: absolute;
        top: 0;
        width: 40px;
        height: 48px;
        line-height: 44px;
        display: block;
        // background: #faf4f2;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        font-family: arial;
        color: #3e1e02;
        text-decoration: none;
    }
    &-minus {
        left: 0;
        border-right: 1px solid #ddd;
    }
    &-plus {
        right: 0;
        border-left: 1px solid #ddd;
    }
    &-minus:hover, &-plus:hover {
        background: #fffcfb;
    }
    &-minus:active, &-plus:active {
        background: #e8e4e2;
    }
    &-text{
        display: inline-block;
        font-size: 20px;
        color: #000;
        line-height: 44px;
        height: 44px;
        padding: 0;
        margin: 0 0 0 42px;
        background: #fff;
        outline: none;
        border: none;
        width: 120px;
        text-align: center;
    }
}