.reviews {

    &__swiper {
        width: 1440px;
        height: 390px;

        &__swiper-wrapper {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &-button-prev, &-button-next {
            width: 80px;
            height: 44px;
            color: $text-darkGreen;
            border: 1px solid #031412;
            font-size: 15px;
        }

        &-button-prev, &-rtl &-button-next {
            left: 0px;
        }

        &-button-next, &-rtl &-button-prev {
            right: 0;
        }

        &-button-prev:after, &-button-next:after {
            font-size: 22px;
        }

        &-button-next:hover, &-button-prev:hover {
            background: $bg-blackGold;
            color: $text-white;
            width: 82px;
            height: 44px;
            border: none;
        }

        &-button-prev:after, &-rtl &-button-next:after {
            content: none;
        }

        &-button-next:after, &-rtl &--button-next:after {
            content: none;
        }

        &-swiper-pagination .swiper-pagination-bullet {
            border-radius: 0%;
            background-color: $bg-darkGreen;
        }

        &-swiper-pagination .swiper-pagination-bullet-active {
            opacity: var(--swiper-pagination-bullet-opacity, 1);
            background: $bg-unsatGold;
        }
    }
    
}

.box {
    text-align: center;
    background: $bg-satGreen;
    width: 436px;
    height: 332px;
}

.right__arrow {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 7px;
}

.left__arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
}