.about__bacgr {
    background: #E5E5E5;
    max-width: 100%;
}

.about {
    &__subtitle {
        font-family: 'Lighthaus';
        font-weight: 400;
        font-size: 100px;
        color: #031412;
        margin-bottom: 50px;

    }

    &__item {
        margin-top: 128px;
        border-bottom: 1px solid #031412;
    }

    &__title {
        font-family: 'Mont';
        font-style: italic;
        font-weight: 600;
        font-size: 40px;
        // width: 533px;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-left: 39px;

    }

    &__suptitle {
        font-family: 'Mont';
        font-weight: 900;
        font-size: 30px;
        max-width: 170px;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-top: 58px;

    }

    &__ask {
        max-width: 100%;
        margin-top: 60px;

    }

    .flex {
        display: flex;
        // justify-content: space-between;
    }

    &__betw {
        margin-top: 54px;
        margin-left: 39px;
        display: flex;
        align-items: center;                
        position: relative;
    }

    &__img {
        // margin-top: 64px;
        width: 34px;
        height: 25.9px;
        position: absolute;
        left: -30px;
        top: -20px;
    }

    &__two {
        // margin-left: 553px;
        width: 34px;
        height: 25.9px;
        left: 0px;
        top: 4.05px;

    }

    &__flex {
        display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
    }

    .about__hero {
        margin-left: 170px;
        padding: 50px 0;

        // .about__imgs {
        // margin-left: 40px;
        // }

        .hero__img {
            max-width: 100%;
        }
    }


}
@media screen and (max-width: 768px) {
    .about__flex {
        flex-wrap: wrap;
        max-width: 500px;
    }

    .about__imgs {
        max-width: 220px;
    }

    .about__subtitle {
        font-size: 60px;
    }

    .about__hero {
        margin: 0 auto;
    }

}

@media screen and (max-width: 540px) {
    .about__flex {
        flex-wrap: wrap;
    }

    .about__subtitle {
        font-size: 30px;
    }

    .about__hero {
        margin: 0 auto;
    }

    .about__title {
        font-size: 20px;
        max-width: 240px;
    }
     
    .about__suptitle {
        max-width: 100px;
        font-size: 16px;
    }
}
