.about__bacgr {
    background: #E5E5E5;
    max-width: 100%;
}
.about {
    &__tirle {
        font-family: 'Lighthaus';
        font-weight: 400;
        font-size: 100px;
        color: #031412;

    }

    &__item {
        margin-top: 128px;
    }

    &__line {
        max-width: 623px;
        height: 0px;
        left: 262px;
        top: 451px;
        border: 1px solid #031412;
        margin-top: 50px;
    }

    &__title {
        font-family: 'Mont';
        font-weight: 600;
        font-size: 40px;
        width: 533px;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-left: 39px;

    }

    &__ivah {
        font-family: 'Mont';
        font-weight: 900;
        font-size: 30px;
        max-width: 170px;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-top: 58px;

    }
    &__ask{
        margin-top: 60px;
    }

    .flex{
        display: flex;
        // justify-content: space-between;
    }

    &__betw {
        margin-top: 54px;
        margin-left: 39px;
    }

    &__img {
        margin-top: 64px;
        width: 34px;
        height: 25.9px;
    }

    &__two {
        margin-left: 553px;
        width: 34px;
        height: 25.9px;
        left: 0px;
        top: 4.05px;

    }

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    .about__hero {
        margin-left: 170px;
        padding: 50px 0;

        // .about__imgs {
            // margin-left: 40px;
        // }

        .hero__img {
            max-width: 100%;
        }
    }


}