.special {
    &__bg {
        text-align: center;
    }
    &__content {
        display: flex;
        margin-top: -469px;
    }
    &__left {
        display: flex;
        flex-wrap: wrap;
    }
    &__right {
        display: flex;
    }
    &__promo {
        font-family: 'Lighthaus';
        @include font (400, 140px, $text-white);
        margin-top: 30px;
        height: 1px;
    }
    &__proposal {
        font-family: 'Mont';
        @include font (500, 35px, $text-white);
        line-height: 35px;
        width: 533px;
        margin-top: -40px;
    }
    &__title {
        @include font (400, 160px, $text-white);
        text-align: right;
        position: absolute;
        width: 686px;
        height: 240px;
        line-height: 120px;
        margin-top: 235px;
        margin-left: 486px;
    }
    &__img {
        margin-top: -233px;
        margin-right: 240px;
    }
    &__button {
        margin-top: -180px;
    }
}