.thankss {
    &__container {
        max-width: 1952px;
        margin: 0 auto;
    }
        
    &__content {
        background: url(../assets/img/thanks/header.png) center;       
        background-size: cover;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    &__backmain {
        font-family: 'Mont';
        font-weight: 700;
        font-size: 18px;
        color: #A1A1A1;
        border: 1px solid #A1A1A1;
        background: white;
        padding: 17px 77px;
        margin-top: 80px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        cursor: pointer;  
    }
    &__main {
        display: flex;
        justify-content: center;
        margin-top: 130px;
    }
    &__ok {
        background: url(../assets/img/thanks/bottle.svg) center;
        background-size: cover;
        width: 106.8px;
        height: 205.42px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        margin-left: 10%;   
    }
    &__bottle {
        width: 212px;
        height: 169px;
        margin-left: -160px;
    }
    
    &__title {
        display: flex;
        justify-content: center;
        margin-top: 37px;
        margin-bottom: 37px;
    }
    &__time {
        font-family: 'Mont';
        font-weight: 400;
        font-size: 27px;
        width: 320px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    &__bottom {
        background: url(../assets/img/thanks/footer.png) center;
        background-size: cover; 
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        
    }
    &__footertitle {
        font-family: 'Mont';
        font-weight: 300;
        font-size: 14px;
        width: 214px;
        text-align: center;
        margin-top: 24px;
        color: #ADADAD;
        margin-bottom: 50px;
    }
    &__second {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 375px;  
        
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 450px;
        margin: 0 auto;
        box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.05);
        margin-bottom: 180px;     
    }

    &__parol {
        font-family: 'Mont';
        font-weight: 600;
        font-size: 18px;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        border-bottom: 2px solid ;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 27px;
    }

    &__input {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 20px;
        margin-top: 30px;
        font-family: 'Mont';
        padding-right: 160px;
        font-weight: 400;
        font-size: 18px;
        border: 1px solid #A1A1A1;   
    }

    &__enter {
        background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
        display: flex;
        padding: 24px 36px;
        margin-top: 48px;
    }

    &__items {
        margin-right: 92px;
        font-family: 'Mont';
        font-style: normal;
        cursor: pointer;
        font-size: 18px;  
        text-align: center;
        color: #FFFFFF; 
    }

    &__items2 {
        margin-left: 92px;
        font-family: 'Mont';
        cursor: pointer;
        font-weight: 800;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
    }
}

@media screen and(max-width: 950px) {
    .thankss {
        &__top {
            margin-top: 50px;
            margin-right: auto;
            margin-left: auto;
            
        }
    }
}

@media screen and(max-width: 460px) {
    .thankss {
        &__items {
            margin-right: 41px;
        }
        &__items2 {
            margin-left: 41px;
        }
    }
}

