.values {

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   


    &__imgtext {
        font-family: Lighthaus;
        font-weight:400;
        font-size: 145px;
        color: pink;
    }

    &__name {
        font-family: Lighthaus;
        font-weight: 400;
        font-size: 50px;
        color: red;
    }

    &__text {
        font-family: Mont;
        font-weight: 400;
        font-size: 20px;
        color: #031412;
    }

    &__minibox {
        display: flex;
    }
}